tweet-tone.json
[{"id":"e2794a58.e620f8","type":"subflow","name":"Select Image","info":"","category":"","in":[{"x":180,"y":380,"wires":[{"id":"1f958a81.ccab65"}]}],"out":[{"x":720,"y":380,"wires":[{"id":"24f80e9c.8336f2","port":0},{"id":"18a7ba8d.a76db5","port":0},{"id":"80b2e22.f6a8f2","port":0},{"id":"94fa8751.264c98","port":0},{"id":"191bfb5f.c26525","port":0}]}]},{"id":"1f958a81.ccab65","type":"switch","z":"e2794a58.e620f8","name":"","property":"tone_name","propertyType":"msg","rules":[{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"},{"t":"eq","v":"Joy","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":380,"wires":[["191bfb5f.c26525"],["94fa8751.264c98"],["80b2e22.f6a8f2"],["18a7ba8d.a76db5"],["24f80e9c.8336f2"]]},{"id":"24f80e9c.8336f2","type":"template","z":"e2794a58.e620f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <img src=\"https://vignette.wikia.nocookie.net/pixar/images/7/75/Io_Joy_standard2.jpg/revision/latest/scale-to-width-down/1000?cb=20150425021126\" width=\"440\" height=\"auto\" style=\"display: block; margin-left: auto; margin-right: auto;\" >\n","output":"str","x":540,"y":460,"wires":[[]]},{"id":"18a7ba8d.a76db5","type":"template","z":"e2794a58.e620f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <img src=\"https://vignette.wikia.nocookie.net/pixar/images/9/98/Io_Disgust_standard2.jpg/revision/latest/scale-to-width-down/1000?cb=20170829015054\" width=\"440\" height=\"auto\" style=\" display: block; margin-left: auto; margin-right: auto;\" >\n","output":"str","x":540,"y":420,"wires":[[]]},{"id":"80b2e22.f6a8f2","type":"template","z":"e2794a58.e620f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <img src=\"https://vignette.wikia.nocookie.net/pixar/images/0/06/Io_Sadness_standard2.jpg/revision/latest/scale-to-width-down/1000?cb=20150425021239\" width=\"440\" height=\"auto\" style=\" display: block; margin-left: auto; margin-right: auto;\" >\n","output":"str","x":540,"y":380,"wires":[[]]},{"id":"94fa8751.264c98","type":"template","z":"e2794a58.e620f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <img src=\"https://vignette.wikia.nocookie.net/pixar/images/7/79/Io_Fear_standard2.jpg/revision/latest/scale-to-width-down/1000?cb=20150425021148\" width=\"440\" height=\"auto\" style=\" display: block; margin-left: auto; margin-right: auto;\" >\n","output":"str","x":540,"y":340,"wires":[[]]},{"id":"191bfb5f.c26525","type":"template","z":"e2794a58.e620f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <img src=\"http://webneel.com/daily/sites/default/files/images/daily/06-2015/3-disney-inside-out-characters-anger.preview.jpg\" width=\"440\" height=\"auto\" style=\" display: block; margin-left: auto; margin-right: auto;\" >\n","output":"str","x":540,"y":300,"wires":[[]]},{"id":"cf287da1.c7d09","type":"subflow","name":"Select Color","info":"","category":"","in":[{"x":60,"y":260,"wires":[{"id":"2d63b7f2.c63618"}]}],"out":[{"x":720,"y":260,"wires":[{"id":"dbc39bac.772a28","port":0},{"id":"823fdfce.e39b9","port":0},{"id":"3c79dac8.506796","port":0},{"id":"bd1cc601.ee43f8","port":0},{"id":"bcc78b37.9ba6f8","port":0}]}]},{"id":"2d63b7f2.c63618","type":"switch","z":"cf287da1.c7d09","name":"","property":"tone_name","propertyType":"msg","rules":[{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"},{"t":"eq","v":"Joy","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":230,"y":260,"wires":[["dbc39bac.772a28"],["823fdfce.e39b9"],["3c79dac8.506796"],["bcc78b37.9ba6f8"],["bd1cc601.ee43f8"]]},{"id":"dbc39bac.772a28","type":"change","z":"cf287da1.c7d09","name":"Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,0,0","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":180,"wires":[[]]},{"id":"823fdfce.e39b9","type":"change","z":"cf287da1.c7d09","name":"Purple","rules":[{"t":"set","p":"payload","pt":"msg","to":"186,85,211","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Purple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":220,"wires":[[]]},{"id":"3c79dac8.506796","type":"change","z":"cf287da1.c7d09","name":"Dark yellow2","rules":[{"t":"set","p":"payload","pt":"msg","to":"153,153,0","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Dark yellow2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":260,"wires":[[]]},{"id":"bd1cc601.ee43f8","type":"change","z":"cf287da1.c7d09","name":"deepskyblue","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,191,255","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"deepskyblue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":340,"wires":[[]]},{"id":"bcc78b37.9ba6f8","type":"change","z":"cf287da1.c7d09","name":"Green lime","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Green lime","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":300,"wires":[[]]},{"id":"20168b46.30c7c4","type":"tab","label":"Analyze tweets sentiment","disabled":false,"info":""},{"id":"63970567.1737ec","type":"twitter in","z":"20168b46.30c7c4","twitter":"","tags":"","user":"false","name":"","inputs":1,"x":90,"y":100,"wires":[["71ad1a88.00a8c4","4881b797.209a78","d20df468.7de928"]]},{"id":"d20df468.7de928","type":"debug","z":"20168b46.30c7c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":60,"wires":[]},{"id":"e983c9d1.ef6d88","type":"watson-tone-analyzer-v3","z":"20168b46.30c7c4","name":"Tweet Tone Analyzer","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","default-endpoint":false,"service-endpoint":"https://gateway-syd.watsonplatform.net/tone-analyzer/api","x":740,"y":100,"wires":[["79fb8245.b5064c","b03e6ac4.b24358"]]},{"id":"95bab8db.882c28","type":"switch","z":"20168b46.30c7c4","name":"","property":"lang","propertyType":"msg","rules":[{"t":"eq","v":"en","vt":"str"},{"t":"eq","v":"ar","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":100,"wires":[["e983c9d1.ef6d88","8ce14350.f8ed2"],["6264adbb.9990d4"],[]]},{"id":"79fb8245.b5064c","type":"debug","z":"20168b46.30c7c4","name":"Tone_categories","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"response.document_tone.tone_categories","x":800,"y":60,"wires":[]},{"id":"6f1f659b.daa96c","type":"function","z":"20168b46.30c7c4","name":"Top Score","func":"var tonem = msg.response.document_tone.tone_categories[0].tones;\n//tone.sort(function(a, b){return b - a});\n//var props = Object.keys(tonem).map(function(key) {\n//  return { key: key, value: this[key] };\n//}, tonem);\ntonem.sort(function(p1, p2) { return p2.score - p1.score; });\nvar topThree = tonem.slice(0, 3);\nmsg.payload= topThree;\ntop1 = { score: (topThree[0].score*100).toFixed(3), tone_name: topThree[0].tone_name };\ntop2 = { score: (topThree[1].score*100).toFixed(3), tone_name: topThree[1].tone_name };\ntop3 = { score: (topThree[2].score*100).toFixed(3), tone_name: topThree[2].tone_name };\n\nreturn [top1,top2,top3];","outputs":3,"noerr":0,"x":140,"y":340,"wires":[["e868b8d4.4e2378","2664645.68d749c","a3307b98.fd49c8"],["3b1bc640.b0f8ca","46534424.35320c","e83865d3.a3f9c8"],["be0ef9fd.781d08","10765f0b.30a781"]]},{"id":"1f7f032e.7cd33d","type":"change","z":"20168b46.30c7c4","name":"First Color","rules":[{"t":"set","p":"firstcolor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":300,"wires":[["ceeeffef.b19df"]]},{"id":"4a21af6f.373a1","type":"change","z":"20168b46.30c7c4","name":"Second Color","rules":[{"t":"set","p":"secondcolor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[[]]},{"id":"31aa31f2.13938e","type":"change","z":"20168b46.30c7c4","name":"Third Color","rules":[{"t":"set","p":"thirdcolor","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":460,"wires":[["55638b15.c53164"]]},{"id":"e868b8d4.4e2378","type":"subflow:cf287da1.c7d09","z":"20168b46.30c7c4","name":"","x":330,"y":300,"wires":[["1f7f032e.7cd33d","6248772.231f788"]]},{"id":"3b1bc640.b0f8ca","type":"subflow:cf287da1.c7d09","z":"20168b46.30c7c4","name":"","x":330,"y":380,"wires":[["4a21af6f.373a1","90117a3b.ee04d8"]]},{"id":"be0ef9fd.781d08","type":"subflow:cf287da1.c7d09","z":"20168b46.30c7c4","name":"","x":330,"y":460,"wires":[["31aa31f2.13938e","8a59886c.c42c48"]]},{"id":"a3ffd351.bddff","type":"function","z":"20168b46.30c7c4","name":"Three Color Effect","func":"var numberOfLEDs = 50;\nvar numberOfLEDs1 = 28;\nvar numberOfLEDs2 = 15;\nvar numberOfLEDs3 = 7;\n\nvar firstcolor = global.get('firstcolor')||0;\nvar secondcolor = global.get('secondcolor')||0;\nvar thirdcolor = global.get('thirdcolor')||0;\n\n//for(i=0; i<255; i++){\n    var count1 = 0;\n    var count2 = 0;\n    var count3 = 0;\n    for(j=0; j<numberOfLEDs; j++){\n        \n        var pos = 0;\n        \n        \n        //pos = Math.round(((j*255/numberOfLEDs)+i))&255;\n        \n        for (m = 1; m < 4; m++) {\n            poscount = Math.floor(Math.random() * 3)+1;\n        \n        if (count1 < numberOfLEDs1 && poscount ===1) {\n            count1++;\n            var setColor = j+','+ firstcolor;\n        node.send({payload:setColor});\n         \n            break;\n        }else if (count2 < numberOfLEDs2 && poscount ===2) {\n            \n            count2++;\n            var setColor = j+','+ secondcolor;\n            node.send({payload:setColor});\n        \n        break;\n            \n        }\n        else if (count3 < numberOfLEDs3 && poscount ===3) {\n            count3++;\n            var setColor = j+','+ thirdcolor;\n            node.send({payload:setColor});\n            \n        break;\n            \n        }else{\n            var setColor = j+','+ firstcolor;\n            node.send({payload:setColor});\n            break;\n        }\n        }\n        \n        \n        \n    \n        \n        /*\n        if(pos<85){\n            \n            if(poscount === 1){\n                count1++;\n                var setColor = j+','+ firstcolor;\n        \n                \n            }else if(poscount === 2){\n                count2++;\n                var setColor = j+','+ secondcolor;\n        \n                \n            }else{\n                count3++;\n                var setColor = j+','+ thirdcolor;\n        \n                \n            }\n            \n            /*\n            var red = pos*3;\n            var green = 255-pos*3;\n            var blue = 0;\n            \n            \n            \n        }\n        else if(pos < 170){\n            \n            if(poscount === 1){\n                count1++;\n                var setColor = j+','+ firstcolor;\n        \n                \n            }else if(poscount === 2){\n                count2++;\n                var setColor = j+','+ secondcolor;\n        \n                \n            }else{\n                count3++;\n                var setColor = j+','+ thirdcolor;\n        \n                \n            }\n            /*\n            pos -= 85;\n            var red = 255 - pos*3;\n            var green = 0;\n            var blue = pos*3;\n           \n        }\n        else{\n            \n            if(poscount === 1){\n                count1++;\n                var setColor = j+','+ firstcolor;\n        \n                \n            }else if(poscount === 2){\n                count2++;\n                var setColor = j+','+ secondcolor;\n        \n                \n            }else{\n                count3++;\n                var setColor = j+','+ thirdcolor;\n        \n                \n            }\n            \n            \n            /*\n            pos -= 170;\n            var red = 0;\n            var green = pos*3;\n            var blue = 255-pos*3;\n            \n            \n        }\n        */\n        //var setColor = j+','+ red +','+ green +','+ blue;\n        node.send({payload:setColor});\n    }\n//}","outputs":1,"noerr":0,"x":510,"y":680,"wires":[["b6618deb.b65e1"]]},{"id":"b6618deb.b65e1","type":"delay","z":"20168b46.30c7c4","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"3","nbRateUnits":"0.1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":680,"wires":[["7e0850d7.1defd"]]},{"id":"7e0850d7.1defd","type":"rpi-neopixels","z":"20168b46.30c7c4","name":"WS2812B LED STRIP","pixels":"50","bgnd":"","fgnd":"","wipe":"60","mode":"pixels","rgb":"grb","brightness":"100","gamma":true,"x":520,"y":740,"wires":[]},{"id":"f6a18a9e.fc3e08","type":"ui_button","z":"20168b46.30c7c4","name":"Clear","group":"2c4c20c3.7632f","order":6,"width":0,"height":0,"passthru":false,"label":"CLEAR","color":"","bgcolor":"","icon":"","payload":"0,0,0","payloadType":"str","topic":"","x":70,"y":740,"wires":[["7e0850d7.1defd"]]},{"id":"ac95051a.1b6ec8","type":"ui_dropdown","z":"20168b46.30c7c4","name":"Select Strip Color","label":"SELECT STRIP COLOR","place":"SELECT STRIP COLOR","group":"2c4c20c3.7632f","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"RED","value":"255,0,0","type":"str"},{"label":"GREEN","value":"0,255,0","type":"str"},{"label":"BLUE","value":"0,0,255","type":"str"},{"label":"WHITE","value":"255,255,255","type":"str"},{"label":"PURPLE","value":"255,0,255","type":"str"},{"label":"CYAN","value":"0,255,255","type":"str"},{"label":"YELLOW","value":"255,255,0","type":"str"}],"payload":"","topic":"","x":110,"y":680,"wires":[["7e0850d7.1defd"]]},{"id":"9e57b00d.8d4a3","type":"ui_text","z":"20168b46.30c7c4","group":"c1d60c50.21888","order":3,"width":"8","height":"6","name":"","label":"Tweet Text","format":"{{msg.payload}}","layout":"col-center","x":470,"y":160,"wires":[]},{"id":"a3307b98.fd49c8","type":"ui_text","z":"20168b46.30c7c4","group":"4e2bd104.f7968","order":1,"width":0,"height":0,"name":"","label":"First Tone","format":"","layout":"row-spread","x":480,"y":260,"wires":[]},{"id":"2664645.68d749c","type":"ui_gauge","z":"20168b46.30c7c4","name":"First","group":"4e2bd104.f7968","order":2,"width":"0","height":"0","gtype":"donut","title":"{{msg.tone_name}}","label":"Score","format":"{{score}}","min":0,"max":"100","colors":["#ffffff","#eeeeee","#b5b7b7"],"seg1":"","seg2":"","x":310,"y":260,"wires":[]},{"id":"46534424.35320c","type":"ui_text","z":"20168b46.30c7c4","group":"4e2bd104.f7968","order":3,"width":"7","height":"1","name":"","label":"Second Tone","format":"Third Tone","layout":"row-spread","x":330,"y":340,"wires":[]},{"id":"71ad1a88.00a8c4","type":"function","z":"20168b46.30c7c4","name":"Twitter Counter","func":"var twittercount = global.get('twittercount')||0;\n\ntwittercount++;\n// store the value back\nglobal.set('twittercount',twittercount);\n\nvar newmsg = { twittercounts: twittercount };\n\nreturn newmsg;","outputs":1,"noerr":0,"x":120,"y":160,"wires":[["4aa4e5b0.f6e55c"]]},{"id":"4aa4e5b0.f6e55c","type":"ui_text","z":"20168b46.30c7c4","group":"c1d60c50.21888","order":6,"width":0,"height":0,"name":"","label":"twitter count","format":"{{twittercounts}}","layout":"row-spread","x":290,"y":160,"wires":[]},{"id":"eddf29ad.4c2d78","type":"debug","z":"20168b46.30c7c4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":180,"wires":[]},{"id":"ecd77b5c.053668","type":"switch","z":"20168b46.30c7c4","name":"Deley Switch","property":"deley","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":640,"wires":[[],["a3ffd351.bddff","9d22eb34.4e84f8","3a4c136e.58aa1c"]]},{"id":"9d22eb34.4e84f8","type":"delay","z":"20168b46.30c7c4","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":600,"wires":[["a3be3119.57adf"]]},{"id":"3a4c136e.58aa1c","type":"change","z":"20168b46.30c7c4","name":"deley true","rules":[{"t":"set","p":"deley","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":600,"wires":[[]]},{"id":"a3be3119.57adf","type":"change","z":"20168b46.30c7c4","name":"deley false","rules":[{"t":"set","p":"deley","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":620,"wires":[[]]},{"id":"6248772.231f788","type":"ui_text","z":"20168b46.30c7c4","group":"2c4c20c3.7632f","order":2,"width":"3","height":"2","name":"","label":"First Color","format":"{{msg.topic}}","layout":"col-center","x":490,"y":340,"wires":[]},{"id":"90117a3b.ee04d8","type":"ui_text","z":"20168b46.30c7c4","group":"2c4c20c3.7632f","order":3,"width":"3","height":"2","name":"","label":"Second Color","format":"{{msg.topic}}","layout":"col-center","x":500,"y":420,"wires":[]},{"id":"8a59886c.c42c48","type":"ui_text","z":"20168b46.30c7c4","group":"2c4c20c3.7632f","order":4,"width":"3","height":"2","name":"","label":"Third Color","format":"{{msg.topic}}","layout":"col-center","x":490,"y":500,"wires":[]},{"id":"dba45090.40dcd","type":"inject","z":"20168b46.30c7c4","name":"Delay","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":490,"y":640,"wires":[["a3be3119.57adf"]]},{"id":"6264adbb.9990d4","type":"link out","z":"20168b46.30c7c4","name":"arTweet","links":["2716e94f.df1196"],"x":575,"y":140,"wires":[]},{"id":"2716e94f.df1196","type":"link in","z":"20168b46.30c7c4","name":"ar","links":["6264adbb.9990d4"],"x":735,"y":220,"wires":[["c908f6cb.6653c8"]]},{"id":"c908f6cb.6653c8","type":"watson-translator","z":"20168b46.30c7c4","name":"","action":"translate","basemodel":"en-nl","domain":"general","srclang":"ar","destlang":"en","password":"gQMgYTL48frW","apikey":"","custom":"","domainhidden":"general","srclanghidden":"ar","destlanghidden":"en","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":870,"y":220,"wires":[["eddf29ad.4c2d78","189f2bfe.0e59c4","9733f2de.04a62"]]},{"id":"189f2bfe.0e59c4","type":"link out","z":"20168b46.30c7c4","name":"afterTrans","links":["bcbbaa3a.545cb8"],"x":1015,"y":220,"wires":[]},{"id":"bcbbaa3a.545cb8","type":"link in","z":"20168b46.30c7c4","name":"afterTransIn","links":["189f2bfe.0e59c4"],"x":615,"y":140,"wires":[["e983c9d1.ef6d88"]]},{"id":"9733f2de.04a62","type":"ui_text","z":"20168b46.30c7c4","group":"c1d60c50.21888","order":4,"width":"8","height":"4","name":"","label":"Translator Text","format":"{{msg.payload}}","layout":"col-center","x":1020,"y":260,"wires":[]},{"id":"b9acb001.ad7a7","type":"ui_template","z":"20168b46.30c7c4","group":"b4047d46.f3f41","name":"Header Image","order":0,"width":"25","height":"4","format":"<div >\n    <img src=\"https://i2.bssl.es/cinetelia/2015/03/Inside-Out-estreno-espa%C3%B1a.jpg\" style=\"width:50%; display: block; margin-left: auto; margin-right: auto;\" >\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":840,"y":380,"wires":[[]]},{"id":"a9a17269.62df7","type":"ui_switch","z":"20168b46.30c7c4","name":"","label":"Run LED","group":"2c4c20c3.7632f","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":940,"y":540,"wires":[["31340bec.dc6ab4"]]},{"id":"b1e481ef.a954b","type":"switch","z":"20168b46.30c7c4","name":"","property":"LEDChecked","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":130,"y":640,"wires":[["ecd77b5c.053668"]]},{"id":"31340bec.dc6ab4","type":"change","z":"20168b46.30c7c4","name":"LEDChecked","rules":[{"t":"set","p":"LEDChecked","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":540,"wires":[[]]},{"id":"8ce14350.f8ed2","type":"link out","z":"20168b46.30c7c4","name":"enOut","links":["e87d6adb.37b0a8"],"x":575,"y":60,"wires":[]},{"id":"e87d6adb.37b0a8","type":"link in","z":"20168b46.30c7c4","name":"enIn","links":["8ce14350.f8ed2"],"x":735,"y":260,"wires":[["e72acdd1.ff23e"]]},{"id":"e72acdd1.ff23e","type":"function","z":"20168b46.30c7c4","name":"- - -","func":"msg.payload = \"- - -\"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["9733f2de.04a62"]]},{"id":"4881b797.209a78","type":"switch","z":"20168b46.30c7c4","name":"StopTweet","property":"StopTweet","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":100,"wires":[["95bab8db.882c28","9e57b00d.8d4a3"]]},{"id":"dd7f5c64.6623b","type":"ui_switch","z":"20168b46.30c7c4","name":"","label":"Feeding Tweets","group":"c1d60c50.21888","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":960,"y":500,"wires":[["d3ad37.a8e382c8"]]},{"id":"d3ad37.a8e382c8","type":"change","z":"20168b46.30c7c4","name":"StopTweet","rules":[{"t":"set","p":"StopTweet","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":500,"wires":[[]]},{"id":"608e9a9e.9fa1e4","type":"ui_template","z":"20168b46.30c7c4","group":"bea7444.c704db8","name":"Tweet feels image","order":0,"width":"9","height":"7","format":"<div ng-bind-html=\"msg.payload\" style=\"display: block; margin-left: auto; margin-right: auto;\" >\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":850,"y":340,"wires":[[]]},{"id":"ceeeffef.b19df","type":"subflow:e2794a58.e620f8","z":"20168b46.30c7c4","name":"","x":670,"y":340,"wires":[["608e9a9e.9fa1e4"]]},{"id":"e83865d3.a3f9c8","type":"ui_gauge","z":"20168b46.30c7c4","name":"Second","group":"4e2bd104.f7968","order":4,"width":"4","height":"4","gtype":"donut","title":"{{msg.tone_name}}","label":"Score","format":"{{score}}","min":0,"max":"100","colors":["#ffffff","#eeeeee","#b5b7b7"],"seg1":"","seg2":"","x":320,"y":420,"wires":[]},{"id":"10765f0b.30a781","type":"ui_gauge","z":"20168b46.30c7c4","name":"Third","group":"4e2bd104.f7968","order":5,"width":"4","height":"4","gtype":"donut","title":"{{msg.tone_name}}","label":"Score","format":"{{score}}","min":0,"max":"100","colors":["#ffffff","#eeeeee","#b5b7b7"],"seg1":"","seg2":"","x":310,"y":500,"wires":[]},{"id":"d1340fb4.922b3","type":"inject","z":"20168b46.30c7c4","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":520,"wires":[["dd7f5c64.6623b","a9a17269.62df7","6de3e508.337eec"]]},{"id":"b03e6ac4.b24358","type":"link out","z":"20168b46.30c7c4","name":"Tone Analyzer out","links":["4030d29.e5ba82c"],"x":875,"y":100,"wires":[]},{"id":"4030d29.e5ba82c","type":"link in","z":"20168b46.30c7c4","name":"Tone Analyzer in","links":["b03e6ac4.b24358"],"x":35,"y":340,"wires":[["6f1f659b.daa96c"]]},{"id":"852a88c0.9fc138","type":"link in","z":"20168b46.30c7c4","name":"After_Select_Color_in","links":["55638b15.c53164"],"x":35,"y":640,"wires":[["b1e481ef.a954b"]]},{"id":"55638b15.c53164","type":"link out","z":"20168b46.30c7c4","name":"After_Select_Color_out","links":["852a88c0.9fc138"],"x":615,"y":460,"wires":[]},{"id":"f8b2b5f2.0198c8","type":"ui_text_input","z":"20168b46.30c7c4","name":"","label":"Twitter Hashtag","group":"c1d60c50.21888","order":2,"width":"0","height":"0","passthru":false,"mode":"text","delay":"0","topic":"","x":120,"y":60,"wires":[["63970567.1737ec"]]},{"id":"498717f2.545118","type":"comment","z":"20168b46.30c7c4","name":"Get Tweet and use IBM Tone Analyzer","info":"","x":190,"y":20,"wires":[]},{"id":"ec6a590b.733078","type":"comment","z":"20168b46.30c7c4","name":"Get top 3 score and select color for each score","info":"","x":200,"y":220,"wires":[]},{"id":"2a8cc3d9.4d50ec","type":"comment","z":"20168b46.30c7c4","name":"Run LED light based on your tweet","info":"","x":160,"y":560,"wires":[]},{"id":"aedbf131.9fa47","type":"comment","z":"20168b46.30c7c4","name":"Run all the flow function","info":"","x":820,"y":460,"wires":[]},{"id":"6de3e508.337eec","type":"change","z":"20168b46.30c7c4","name":"Configure the deley","rules":[{"t":"set","p":"deley","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":580,"wires":[[]]},{"id":"9d98f976.a14dd8","type":"comment","z":"20168b46.30c7c4","name":"Translate the tweet if it Arabic","info":"","x":840,"y":180,"wires":[]},{"id":"2c4c20c3.7632f","type":"ui_group","z":"","name":"LED","tab":"195dbf8f.004d","order":5,"disp":true,"width":"9","collapse":false},{"id":"c1d60c50.21888","type":"ui_group","z":"","name":"Twitter","tab":"195dbf8f.004d","order":2,"disp":true,"width":"8","collapse":false},{"id":"4e2bd104.f7968","type":"ui_group","z":"","name":"Tone Analyzer","tab":"195dbf8f.004d","order":3,"disp":true,"width":"8","collapse":false},{"id":"b4047d46.f3f41","type":"ui_group","z":"","name":"Display","tab":"195dbf8f.004d","order":1,"disp":false,"width":"25","collapse":false},{"id":"bea7444.c704db8","type":"ui_group","z":"","name":"Your Tweet feels like....","tab":"195dbf8f.004d","order":4,"disp":true,"width":"9","collapse":false},{"id":"195dbf8f.004d","type":"ui_tab","z":"","name":"Analyze tweets sentiment","icon":"dashboard","order":1}]
